<!DOCTYPE html>
<html>
  <body>
    <header>
      <div class="topnav">
        <h1 class="logo">Fichas medicas</h1>
        <strong><nav>
          <ul class="menu">
            <li><a href="home.html">Home</a></li>
            <li><a a href="about.html">Acerca de</a></li>
            <li><a href="asignDoc.html">Asignar Doctor</a></li>
            <li><a href="anadir_Pac.html">Paciente</a></li>
            <li><a href="anadirCir.html">Aignar Cirujano</a></li>
            <li><a href="asignSala.html">Sala</a>Sala</li>
            <li><a href="CambiarSala.html">Sala</a>Traslado de sala</li>
            <li><a href="asignEnf.html">Sala</a>Asignamiento de Enfermero</li>
          </ul>
        </nav></strong>
      </div>
    </header>
  </body>
  {%block page_content%}{%endblock%}
</html>
