{% extends "layout.html" %}anadir_Pac
{% block page_content %}
  <body>

    <form class="well form-horizontal" action="/asignSala" method="POST"  id="contact_form" autocomplete="off">
<fieldset>

<legend>Ingrese sus datos, Doc!</legend>

<div class="form-group">
  <label class="col-md-4 control-label">Numero de la sala</label>
  <div class="input-group">
  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
  <input  name="Nro_sala" placeholder="Numero de Sala" class="form-control"  type="number">
    </div>
  </div>

<div class="form-group">
  <label class="col-md-4 control-label" >Tipo de Sala</label>
    <div class="input-group">
  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
  <input name="Tipo" placeholder="Ingrese su tipo de sala" class="form-control"  type="text">
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-4 control-label">Ingrese su piso</label>
      <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
          <select name="genero">
          <option value="hombre">Primer piso</option>
          <option value="mujer">Segundo</option>
          <option value="otro">Tercero</option>
        </select>
  </div>
  </div>
<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label"></label>
  <div class="col-md-4">
    <button type="submit" class="btn btn-warning" >Registrar <span class="glyphicon glyphicon-send"></span></button>
  </div>
</div>

</fieldset>
</form>
</div>
    </div><!-- /.container -->
    </form>
  </body>
{% endblock %}
